@tailwind base;
@tailwind components;
@tailwind utilities;


.mainCard {
  @apply rounded-lg shadow-md p-10 mx-20 my-20 gap-20 bg-[#4b9aaa] max-w-90vw min-w-50vw min-h-40vh overflow-auto resize-y;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
